<h1>Coffee Landing Page</h1>

<p><%= link_to "My Account", user_url(session[:user_id]) %></p>

<p><%= link_to "Coffee Page 2", coffee2_url  %></p>

<p><%= link_to "Coffee Page 3", coffee3_url %></p>

<p><%= link_to "Coffee Page 4", coffee4_url %></p>
